body{
 background-image: url(./background.png);
 background-repeat: no-repeat;
 background-size: 500px;
 background-color:rgb(253, 253, 240);
 margin-top: 20px;
 margin-left: 30px;
 margin-right:20px;
 padding: 10px;
 
}
section{

    margin-bottom: 20px;
}
h2{
    font-size: 30px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
}
h1{
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}
.h1-color{
    color: coral;
}
.personal-info-div{
    
    width: 50%;
}
.personal-info-div img{
    width: 35%;
    margin-left: 1300px;
    margin-top: -400px;
}
.visitbtn{
    text-decoration: none;
    background-image: linear-gradient(Crimson,rgb(255, 0, 119));
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700px;
}
.section2{
    display: flex;
}
.div2 img
{
    
    width: 60%;
    margin-left: 40px;
    padding: 10%;
}
.webdevoloper{

    margin-left: 150px;
    
}

.downloadbtn{
text-decoration: none;
background-image:linear-gradient(rgb(98, 0, 209),rgb(71, 2, 233)) ; 
padding: 10px 40px;
border-radius:20px ;
color: whitesmoke;
}
.fexcontainer
{
  
   display: flex;
   margin-left:80px ;
   
   
}
.newdeveloper
{
    width: 650px;
    text-align: justify;
    margin-left: 90px;
  
}
.prodeveloper
{
    
    width: 650px;

}
.shadow{
    padding: 40px;
    box-shadow: 10px 10px 10px 10px rgb(54, 52, 52);
    

}